.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: Spoof;
  color: var(--wvp-color-light-slate);
}

.bio {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.waveButton {
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px;
  border: 2px solid;
  border-color: var(--wvp-color-green);
  background-color: transparent;
  color: var(--wvp-color-green);
  border-radius: 5px;
  padding: 10px 16px;
  transition: all 0.4s ease-in-out;
}

.waveButton:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
